
body {
font-family: Arial, sans-serif;
height: 100%;
width: 100%;
padding: 0;
margin: 0;
box-sizing: border-box;
color: #0a1010;
}

nav {
  background-color: darkslategray;
  color: white;
  padding: 20px;  
}

hr {
  border: 1px solid darkslategray;
}

nav ul li {
  display: inline;
  list-style-type: none;
  margin: 10px;
  font-size: 2em;
}

nav a {
  text-decoration: none;
  color: white;
}

nav a:hover {
  text-decoration: none;
  background-color: silver;
  color: slategray;
}
a:visited {color: darkslategray;}
nav a:visited {color: white;}

#main {
  background-color: gray;
}

#container {
  position: relative;
  width: 70%;
  background-color: whitesmoke;
  margin: 0 auto;
  padding: 25px;
}

h1 {
  text-align: right;
  background-color: silver;
  padding-top: 20px;
  color: darkslategray;
  padding-right: 10px;
}
h3 {
text-align: center;}
h4 {color: white;
text-align: center;}


p {
  text-align: left;
  font-size: 1em;
}

.note {
  float: right;
width: 30%;
background-color: gainsboro;}

#software ul li {margin-bottom: 6px;}
footer {
  background-color: darkslategray;
  color: white;
  padding: 20px;
  margin: 0;
  text-align: center;
}
ul {margin-bottom: 10px;}
.section ul li, .aside ul li {margin-bottom: 6px; 
  padding-right: 10px;
}

.aside {float: right;
width: 45%;
border: 1px solid darkslategray;
background-color: gainsboro;
margin: 10px;}

.nodecoration a {background-color:  gainsboro;}
.highlight {background-color: gainsboro;
width: 85%;
margin: 0 auto;
border: 1px solid darkslategray;
padding: 5px;}


@media (max-width: 760px) {
  #resources {display: none;
  }
  h1 {font-size: 1.25em;
    text-align: center;
    border: 1px solid darkslategray;
    margin: 0 auto;
    padding: 0;}
  p {font-size: 1em;}
  #software ul li {font-size: 1em;}
  .hiddenmobile {display: none;}
  
  nav ul {margin: 0 auto; padding: 0;}
  nav ul li {background-color: gray;
    border: 1px solid #0a1010;
    display: block;
    padding: 3px;}
}
@media (min-width: 760px) and (max-width: 1024px){
nav ul li {display: block; margin: 0; text-align: center; border-bottom: 1px white solid;}
.aside {float: right;
width: 50%;
border: 1px solid darkslategray;
background-color: gainsboro;
margin: 0 0 0 5px;}

}
